<div class="body">
  <div class="wrapper p-4 md:p-[30px]">
    <header class="font-semibold text-lg md:text-2xl">What design tool do you use the most?</header>
    <div class="poll-area">
      <input type="checkbox" name="poll" id="opt-1">
      <input type="checkbox" name="poll" id="opt-2">
      <input type="checkbox" name="poll" id="opt-3">
      <input type="checkbox" name="poll" id="opt-4">
      <label for="opt-1" class="opt-1 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text-sm md:text-base font-medium">Photoshop</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">55% </span>
        </div>
        <div class="progress" id="pstyle1" style='--w:55;'></div>
      </label>
      <label for="opt-2" class="opt-2 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text text-sm md:text-base font-medium">Adobe XD</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">99% </span>
        </div>
        <div class="progress" id="pstyle2" style='--w:99;'></div>
      </label>
      <label for="opt-3" class="opt-3 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text text-sm md:text-base font-medium">Figma</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">68% </span>
        </div>
        <div class="progress" id="pstyle3" style='--w:68;'></div>
      </label>
      <label for="opt-4" class="opt-4 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text text-sm md:text-base font-medium">Figma</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">68% </span>
        </div>
        <div class="progress" id="pstyle4" style='--w:68;'></div>
      </label>
    </div>
  </div>
</div>
