<div class="body flex-col gap-5">
  <div class="wrapper p-4 md:p-[30px]">
    <header class="font-semibold text-lg md:text-2xl">What design tool do you use the most?</header>
    <div class="poll-area">
      <input type="checkbox" name="poll" id="opt-1">
      <input type="checkbox" name="poll" id="opt-2">
      <input type="checkbox" name="poll" id="opt-3">
      <input type="checkbox" name="poll" id="opt-4">
      <label for="opt-1" class="opt-1 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text-sm md:text-base font-medium">Photoshop</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">55% </span>
        </div>
        <div class="progress" id="pstyle1" style='--w:55;'></div>
      </label>
      <label for="opt-2" class="opt-2 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text text-sm md:text-base font-medium">Adobe XD</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">99% </span>
        </div>
        <div class="progress" id="pstyle2" style='--w:99;'></div>
      </label>
      <label for="opt-3" class="opt-3 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text text-sm md:text-base font-medium">Figma</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">68% </span>
        </div>
        <div class="progress" id="pstyle3" style='--w:68;'></div>
      </label>
      <label for="opt-4" class="opt-4 rounded-md">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text text-sm md:text-base font-medium">Figma</span>
          </div>
          <span class="percent text-sm md:text-base font-medium">68% </span>
        </div>
        <div class="progress" id="pstyle4" style='--w:68;'></div>
      </label>
    </div>
  </div>
  <div class="max-w-[500px] w-full flex justify-end">
    <button type="button"
      class="text-primary border border-primary2 hover:bg-primary hover:text-white focus:ring-4 focus:outline-none focus:ring-primary2 font-medium rounded-lg text-sm p-2.5 text-center gap-2 inline-flex items-center me-2">
      <p>Submit your Vote</p>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        viewBox="0 0 18 18">
        <path
          d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z" />
      </svg>
      <span class="sr-only">Submit</span>
    </button>
  </div>
</div>