<header class="py-8 px-6 flex justify-between items-center bg-white shadow-md lg:p-8">
  <div class="flex justify-between items-center gap-1">
    <img class="h-4 w-4 md:h-6 md:w-6" src="../../../assets/icons/dashboard-menu.svg" />
    <h4 class="text-dark font-medium text-base leading-4 p-0 md:font-semibold md:text-lg">Notice</h4>
  </div>
  <div class="flex justify-between items-center gap-4">
    <img class="cursor-pointer md:h-6 md:w-6" src="../../../assets/icons/help-outline.svg" />
    <img class="cursor-pointer md:h-6 md:w-6" src="../../../assets/icons/notification.svg" />
    <img class="cursor-pointer md:h-6 md:w-6" src="../../../assets/icons/person-outline.svg" />
  </div>
</header>
<router-outlet />